[tool.poetry]
name = "pyvectordb"
version = "0.1.1"
description = ""
authors = ["M Razif Rizqullah <razifrizqullah@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
pgvector = "^0.3.5"
sqlalchemy = "^2.0.36"
psycopg2 = "^2.9.10"
qdrant-client = "^1.12.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
